 /* Importation de la police */
 @font-face {
    font-family: 'AA';
    src: url('fonts/AA.ttf') format('truetype'),
         url('fonts/AA.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signature';
    src: url('fonts/Signature.woff2') format('woff2'),
         url('fonts/Signature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Styles généraux */
body {
    background: url(./img/1138.jpg);
    height: 990px;
    font-family: 'AA', sans-serif;
    margin: 0;
    font-size: small;
}

.header {
    background: url(./img/entete.png);
    padding-top: 25px;
    padding-bottom: 15px;
    display: flex;
    width: 100%;
    height: 160px;
    position: fixed;
    z-index: 1000;
}

.hg {
    margin-left: 50px;
}
@keyframes float {
    0% {
      transform: translateY(-25%);
      opacity: 1;
    }
    50% {
      transform: translateY(5px); /* Ajuste la distance de la descente */
      opacity: 1;
    }
    100% {
      transform: translateY(-25%);
      opacity: 1;
    }
  }
  
.hg img{
    animation: float 3s ease-in-out infinite;
}

.hg h1 {
    color: #FFd700;
    margin-top: -15px;
    margin-left: 10px;
    font-family: 'Signature';
    padding-left: 15px;
    box-shadow: 0 0 10px #a08800;
}

.hd {
    margin-left: auto;
    margin-right: 50px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-top: 5px;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 35px;
    
    margin-right: 25px;
}


.current a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(162, 0, 0, 0.411);
    font-family: 'Signature';
    border-radius: 50%;
    padding: 15px;
    box-shadow:  0 0 50px #a08800;
}

.tsisy {
    background-color: rgba(51, 0, 255, 0); 
    color: aliceblue;
    border-radius: 50px; 
}
.tsisy a:hover {
    background-color: #FFd700;
    color: rgb(76, 0, 0);
    box-shadow: 2px 5px 2px #a08800;
}

.tsisy a {
    color: aliceblue;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    height: 1500px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130px;
    background: url(./img/);
    text-align: center;
}

.footer h2 {
    color: azure;
}










  
  